body {
	background: #ffffff;
    color: #fff;
	margin: 0;
}

.sliders-container {
	max-width: 650px;
    width: 100%;
    margin: auto;
    padding: 15px 35px;
	box-sizing: border-box;
}

.sliders-container .main-slider .slick-slide,
.sliders-container .navigation-slider .slick-slide {
	height: auto;
}

.sliders-container .main-slider .slick-slide {
	padding: 0 5px;
}

.sliders-container .navigation-slider .slick-slide {
	width: 300px;
	margin: 10px 5px 0;
	cursor: pointer;
	position: relative;
}

.sliders-container .main-slider .slick-slide img,
.sliders-container .navigation-slider .slick-slide img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.sliders-container .slick-prev:before, 
.sliders-container .slick-next:before {
	color: #3977a8;
}

/* .sliders-container .navigation-slider .slick-slide img {
	border: 1px solid #fff;
} */

.sliders-container .navigation-slider .slick-slide.slick-current-slide:after {
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	-moz-box-shadow: inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow: inset 0 0 10px #000000;
}

@media screen and (max-width: 415px) {
	.sliders-container {
		padding: 15px;
	}

	.sliders-container .slick-prev, 
	.sliders-container .slick-next {
		display: none !important;
	}
}